body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(127, 127, 248); text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #cdcdcd;
  padding-bottom: 5px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #444;
}
.content {
  max-width: 1440px;
  margin: auto;
  display: grid;
  gap: 3rem;
  grid-template-areas:
    "sidebar main"
    "anchors anchors"; /* anchors vai embaixo, ocupando 2 colunas */
  grid-template-columns: minmax(0, 15rem) minmax(0, 1fr);
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer {
  min-height: 100px;
  border-top: solid 1px #cdcdcd;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.sidebar {
  border-right: solid 1px #cdcdcd;
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.anchors {
  border-top: solid 1px #cdcdcd;
  padding-top: 15px;
  grid-area: anchors;
}
figure {
    text-align: center;
}